<header class="header">
  <div class="header-main">
    <span class='header-left'>
      <div class='header-logo' routerLink=''>
        <img src="/assets/dashsee-logo-no-name.png"> <div>DASHsee</div>
      </div>
    </span>
    <span class='header-middle'>
      <div class='search-bar'>
        <div>
          <img src="/assets/magnifying-glass.svg">
        </div>
        <div class='search-bar-input-wrapper'>
          <input type="text" id="site-search" name="site-search" autocomplete="off">
        </div>
      </div>
    </span>
    <span class='header-right'>
      <ng-container *ngIf="isLoggedIn">
        <span id='header-btn-log-out'>Log Out</span>
        <a *ngIf="myChannel" routerLink="{{ myChannel.handle }}">
          <img id='header-my-channel-thumbnail' src="{{ myChannel.thumbnailUrl }}">
          <div id='header-my-channel-handle'>{{ myChannel.handle }}</div>
        </a>
      </ng-container>
      <ng-container *ngIf="!isLoggedIn">
        <span id='header-btn-sign-up'>Sign Up</span>
        <span id='header-btn-log-in'>Log In</span>
      </ng-container>
      </span>
  </div>
</header>
