.loading-message {
  color: #FFF;
  font-size: 2.5em;
  padding-top: min(calc(100vw * (9 / 16) / 2 - 1.25em ), calc((100vh - 150px) / 2 - 1.25em));
}

.error-message {
  color: #FFF;
  font-size: 1.5em;
  padding-top: min(calc(100vw * (9 / 16) / 2 - 1.25em ), calc((100vh - 150px) / 2 - 1.25em));
}

.video-section {
  width: 100%;
}

.video-frame {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.video-container {
  width: 100%;
  height: min(calc(100vw * (9 / 16) ), calc(100vh - 150px));
  text-align: center;
  background: #000;
  padding-top: 4px;
  padding-bottom: 4px;
}

.video-details {
  margin-top: 17px;
  border: 1px solid #DDDDDD;
  font-family: 'Arimo',Arial,Helvetica Neue,Helvetica,sans-serif;
}

.video-title {
  margin-top: 16px;
  margin-left: 22px;
}

.channel-info {
  margin-top: 34px;
  margin-left: 30px;
  height: 50px;
}

.channel-thumbnail {
  float: left;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #3EC6FF;
  margin-right: 10px;
}

.channel-names div {
  padding: 3px;
}

.video-description {
  margin-top: 38px;
  margin-left: 29px;
  margin-right: 112px;
}
