<div *ngIf="notFound || notVideo; else Ready">
  <div *ngIf="notFound">
  Not found!
  </div>
  <div *ngIf="notVideo">
  Not video!
  </div>
</div>
<ng-template #Ready>
  <div *ngIf="video; else Loading">
    <div class='video-container'>
      <video class='video-frame' *ngIf="streamUrl; else thumbNail" src="{{streamUrl}}" controls>
        Your Browser Dosen't Support HTML5 Video. Please Upgrade...
      </video>
      <ng-template #thumbNail>
        <img class='video-frame' src={{video.thumbnailUrl}} alt="video thumbnail">
      </ng-template>
    </div>
    <div class='video-details'>
      <h1 class='video-title'>{{video.title}}</h1>
      <div *ngIf="video.channel" class='channel-info' routerLink="{{ video.channel.handle }}">
        <img class='channel-thumbnail' src="{{ video.channel.thumbnailUrl }}"/>
        <div class='channel-names'>
          <div>{{ video.channel.name }}</div>
          <div>{{ video.channel.handle }}</div>
        </div>
      </div>
      <p class='video-description'>{{video.description}}</p>
    </div>
  </div>
  <ng-template #Loading>loading...</ng-template>
</ng-template>
