body {margin:0px; padding:0px; background-color: #EEF; font-family: 'Arimo',Arial,Helvetica Neue,Helvetica,sans-serif;}
div { margin: 20px; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px;}
h1   {color: #222;}
p    {color: #444;}

.header {
    /* Stick to the top */
    position: sticky;
    top: 0;
}

.header {
    height: 83px;
    display: flex;
    flex-direction: column;

    border-bottom: 4px solid #E5E5E5;
}

.header-main {
    /* Take the remaining height */
    flex-grow: 1;

    /* Layout the left side, input, and right side */
    display: flex;
    flex-direction: row;

    padding:0px;
    margin:0px;
}

.header-left {
    width: 25%;
    background-color:grey;
}

.header-middle {
    /* Take the remaining width */
    flex-grow: 1;
}

.header-right {
    width: 25%;
    background-color:grey;
}

.header-middle input {
	width: 100%
}

main {
  width: clamp(calc(100% - 45px * 2), 600px, 100%);
  margin-left: calc(50% - 0.5 * clamp(calc(100% - 45px * 2), 600px, 100%));
  margin-top: 22px;
}
