body {margin:0px; padding:0px; background-color: #EEF; font-family: 'Arimo',Arial,Helvetica Neue,Helvetica,sans-serif;}
div { margin: 20px; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px;}
h1   {color: #222;}
p    {color: #444;}

main {
    width: clamp(calc(100% - 45px * 2), 600px, 100%);
    margin-left: calc(50% - 0.5 * clamp(calc(100% - 45px * 2), 600px, 100%));
    margin-top: 22px;
}
