<header class="header">
  <!-- TODO separate header component -->
  <div class="header-main">
    <span class='header-left'>
      <div class='header-logo' routerLink=''>
        <img src="/assets/dashsee-logo-no-name.png"> <div>DASHsee</div>
      </div>
    </span>
    <span class='header-middle'>
      <div class='search-bar'>
        <div>
          <img src="/assets/magnifying-glass.svg">
        </div>
        <div class='search-bar-input-wrapper'>
          <input type="text" id="site-search" name="site-search" autocomplete="off">
        </div>
      </div>
    </span>
    <span class='header-right'>
      <span id='header-btn-sign-up'>Sign Up</span>
      <span id='header-btn-log-in'>Log In</span>
    </span>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>

