<div>
  <div class="video-list-container">

    <!-- title="..." is for mouseover in case of text truncate of video.title -->
    <div
      title="{{ video.title }}"
      class="video-list-item"
      *ngFor="let video of videos; let i = index"
    >
      <a routerLink="/{{ video.canonicalUri }}">
        <div class='video-thumbnail-container'>
          <img class='video-thumbnail' src={{video.thumbnailUrl}} alt="video thumbnail">
        </div>

        <h4 class='video-title'>
          {{ (video.title.length > 55)? (video.title | slice:0:55)+'...':(video.title) }}
        </h4>

        <div *ngIf="video.channel" class='channel-info'>
          <a routerLink="/{{ video.channel.canonicalUri }}">
            <img *ngIf="video.channel.thumbnailUrl; else NoAvatar" class='channel-thumbnail' src="{{ video.channel.thumbnailUrl }}" alt="channel thumbnail"/>
            <ng-template #NoAvatar><div class='channel-thumbnail'></div></ng-template>

            <!-- title="..." is for mouseover in case of text truncate of channel name/handle -->
            <div class='channel-names' title="{{ video.channel.handle }} - {{ video.channel.name }}">
              <div class='channel-name'>{{ video.channel.name }}</div>
              <div class='channel-handle'>{{ video.channel.handle }}</div>
            </div>
          </a>
        </div>
      </a>
    </div>
    <div *ngIf="loading" class='loading-message-container'>
      <span class="loading-message">loading...</span>
    </div>
  </div>
  <div *ngIf="requestError; else Okay">
    <p class="error-message">something went wrong...</p>
  </div>
  <ng-template #Okay>
    <div class="btn-next-page-container" *ngIf="!loading && totalPages && currentPage < totalPages">
      <span class="btn-next-page" (click)="getAndShowNextVideos()">Show More</span>
    </div>
  </ng-template>
</div>
